

 //Fonts
// ------------
@import '../fonts/font-awesome-4.7.0/scss/font-awesome';


// Foundation
// ------------
@import //'../css/foundation',
        '../css/foundation/foundation',
        '../../node_modules/motion-ui/dist/motion-ui';

// Settings and utils
// ------------
@import 'mixin',
        'settings/settings',
        'utils/utils';


// Sprite
// ------------
@import 'sprite/_sprite';


// Block of site
// ------------
@import 'blocks/block-home_global';

 ul,
 li,
 ol
 {
     list-style-type: none;
 }

 *,
 ul,
 li,
 ol
 {
     margin: 0;
     padding: 0;
     outline: 0;
 }

 button,
 a
 {
     cursor: pointer;
     outline: 0;
     
     &:hover,
     &:focus,
     &:active
     {
         outline: 0;
         cursor: pointer;
     }
 }
 
 blockquote
 {
     border-left: 0;
 }
