// include
@import '../../utils/utils',
        '../../settings/settings';


.promo
{
    &_rolf-baoumann
    {
        background: url('../images/slider/slide_first.jpg') fixed center center
    }

    &__quote
    {
        @include font($regular, 35px, 44px, $font_main);
        color: $white;

        &-author
        {
            @include font($bold, 25px, 25px, $font_main);
            color: $white;
        }
    }
}

.row__promo_rolf-baoumann
{
    padding: 70px 0;
}