// include
@import '../../utils/utils',
        '../../settings/settings';
.row__footer-bottom
{
    padding-top: 40px;
    padding-bottom: 40px;
}

.row__footer-top
{
    @extend .row__footer-bottom;

    border-bottom: 1px solid $decorative;
}

.footer
{
    margin-top: 60px;
    background: $main;
    
    &__networks
    {
        max-width: 115px;
        width: 100%;
        margin: 0 auto 15px;
    }
}