// include
//--------
@import '../../utils/utils',
        '../../settings/settings';


.link
{
    &__shopping-cart
    {
        float: right;
        display: block;
        width: 100%;
    }
    
    &_align
    {
        &_right
        {
            float: right;
            text-align: right;
        }
        
        &_left
        {
            float: left;
            text-align: left;
        }
    }

    &__text
    {
        &_text-transform_uppercase
        {
            text-transform: uppercase;
            vertical-align: sub;
        }
    }

    &__more
    {
        @include font($regular, 16px, 20px, $font-secondary);
        text-transform: capitalize;
        text-align: left;
        color: $decorative;
    }

    &:hover
    {
        .fa
        {
            color: $alert;
        }
    }
}