// include
@import '../../utils/utils',
        '../../settings/settings';

.icon
{
    color: $primary;
    transition: $transition;

    &:hover
    {
        .icon__facebook
        {
            color: $facebook_background;
        }
        
        .icon__twitter
        {
            color: $twitter_background;
        }
        
        .icon__google-plus
        {
            color: $google-plus_background;
        }
        
        .icon__pinterest
        {
            color: $pinterest-background;
        }
    }
}