// Utils
@import '../utils/utils';

// 1. Global settings
// 2. Fonts
// 3. Base colors
// 4. Social networks
// 5. Transition
// 6. Sizes
// 7. Hamburger-menu

// 1. Global settings
// ------------------
$orbit-slide__background:       '../images/slider/slide_';


// 2. Fonts
// ---------

$font_size_base:                16px;
$font_size_tablet:              14px;
$line_height_base:              24px;
$font_default:                  Arial, Helevtica, Georgea, sans-serif;
$font_main:                     'Open Sans Condensed', $font_default;
$font_secondary:                'Droid Serif', $font_default;
$font_decorative:               'Dancing Script', $font_default;
$bold:                          700;
$regular:                       400;
$light:                         400;


// 3. Base colors
// -------------

$primary:                       #898989;
$success:                       #51d466;
$alert:                         #f75353;
$warning:                       #00a39a;
$light_gray:                    #9a9a9a;
$gray:                          #bbbbbb;
$main:                          #f5f5f5;
$header_logo:                   #565656;
$medium_gray:                   #777777;
$dark_gray:                     #676767;
$shopping:                      #cb79e6;
$decorative:                    #c0996b;
$white:                         #ffffff;
$black:                         #000000;
$light_black:                   rgba($black, 0.5);


// 4. Social networks
// ------------------

$facebook_background:           #1e78ae;
$google-plus_background:        #f22d0c;
$twitter_background:            #1ba1e2;
$pinterest_background:          #dd1617;


// 5. Transition
// -------------

$transition:                    all 0.2s ease-in-out;
$transition-slowly:             all 0.3s ease-in-out;
$orbit-bullet_transition:       all 0.4s ease-in-out;


// 6. Sizes
// -------
$orbit-bullet-wrapper-width:    rem-calc(60px);


// 7. Hamburger-menu
$burg_size:                     30px;
$slice_height:                  5px;
