// include
@import '../../utils/utils',
        '../../settings/settings';

body
{
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: $font_main;
    font-weight: $regular;
    font-size: $font_size_base;
    line-height: $line_height_base;
    color: $primary;
    background-color: $white;
}

.page-wrapper
{
    min-width: 320px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    //background: url('../images/crossword.png') repeat;
}
