// include
//--------
@import '../../utils/utils',
        '../../settings/settings';

/*==================   Tumbnail    ======================*/
.thumb
{
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 2;
    margin: 0;


    &_border-circle
    {
        border-radius: 50%;
        box-shadow: 0 0 2px 0 rgba($black, 0.11),
                    3px 4px 5px 0 rgba($black, 0.11)
    }


    &:hover .thumb__overlay
    {
        opacity: 1;
        background: rgba(255, 255, 255, 0.5);

        &:before
        {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1.1);
        }


        &_border-circle
        {
            border-radius: 50%;
            box-shadow: 0 0 9px 2px rgba($black, 0.11),
                        3px 4px 5px -2px rgba($black, 0.11)
        }
    }


    &__image
    {
        width: 100%;
        transition: all 0.5s ease;
    }


    &__overlay
    {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        color: $warning;
        background: transparent;

        &:before
        {
            content: '\f002';
            position: absolute;
            font-family: 'FontAwesome';
            font-size: 14px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: 0.5s all ease;
            opacity: 0;
            line-height: 100px;
            background: rgba(29, 29, 29, 0.8);
            text-align: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
}