// include
@import '../../utils/utils',
        '../../settings/settings';

.b-information
{
    margin-bottom: 50px;

    &_align_left
    {
        float: left;
    }

    &__visible
    {
        width: 70px;

        &_align-left
        {
            float: left;
            width: 100%;
            max-width: 70px;
            margin: 5px 20px 0 0;
        }
    }

    &__content
    {
        float: left;
        width: calc(100% - 91px);
        padding: 12px 0;

        &-blog
        {
            margin-top: 20px;
        }
    }

    &__header
    {
        @include font($regular, 15px, 15px, $font_secondary);
        color: $dark_gray;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: $transition;

        &:hover
        {
            color: $decorative;
        }

        &:after
        {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: $gray;
        }
    }

    &__data
    {
        .fa
        {
            color: $decorative;
        }
    }
    &__price
    {
        float: right;
        display: block;
    }

    &__description
    {
        color: $decorative;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    &__comments
    {
        margin-left: 10px;
    }

    .fa
    {
        &:hover
        {
            color: $alert;
        }
    }
}

@media (min-width: 640px)
{
    .b-information
    {
        margin-bottom: 20px;
    }
}